@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
.containers{
    height: auto;
    width: 100%;
    /* background-color: rgb(158, 88, 88); */
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 100px;
}
.boxes{
    height: 300px;
    width: 250px;    
    margin: 10px;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(124, 160, 171);
}
.boxes>h1{
    color: black;
    font-family: 'Oswald', sans-serif;  
}
.leftbar{
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}